<h1>Meeting list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Owner</th>
            <th>Date</th>
            <th>URL</th>
            <th>State</th>
            <th>Public</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('meeting_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.title }}</td>
            <td>{{ entity.owner }}</td>
            <td>{{ entity.url }}</td>
            <td>{{ entity.state }}</td>
            <td>{% if entity.public %} &times; {% endif %}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('meeting_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('meeting_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('meeting_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
