{% extends "CmarMeetingBundle::base.html.twig" %}
{% block title %}
eMeeting
{% endblock %}

{% block body %}

<div id="dialog-modal1" title="Create an eMeeting">
  <div style="margin: 10px" style="position: relative">
    <form id="caca" action="{{ path('index_immediate') }}" method="get" >
      <input type="hidden" name="selected_tag" value="common_users" id="selected_tag"/>
      <div id="form">
	<ul>
	  <li style="list-style-type: none; overflow: hidden; font-size: 18px; margin-bottom: 5px;">
            <label for="form_Name" class="required"> Title: </label>
            <input style="width: 80%" id="form_Name" name="meeting_name" type="text;" value="{{ user.login }}'s Immediate eMeeting"/></input>
	  </li>
	  <li style="list-style-type: none; overflow: hidden; font-size: 18px">
            <label for="form_NickName" class="required"> Nick Name: </label>
            <input style="width: 68%" id="form_NickName" name="Nick_name" type="text;" value="{{ user.name }} {{user.surname}}"></input>
	  </li>
	  <li style="list-style-type: none; float: left; margin-top: 10px; margin-bottom: 10px; font-size: 18px">
            <label for="form_Public" class="required"> Permission: </label>
            <select id="form_Public" name="public">
	      <option value="public">public</option>
	      <option value="private">private</option>
            </select>
	  </li>
	  {% if is_granted('ROLE_ADMIN') %}
	    <li style="list-style-type: none; float: left; margin-top: 10px; margin-bottom: 10px; font-size: 18px;">
              <label for="form_magic_room" class="required"> Magic Room: </label>
	      <input type="checkbox" name="Checkbox_magic"></input>
	    </li>
	  {% endif %}
	  <li style="list-style-type: none; float: left; font-size: 20px;margin-left: 88px;">
	    <div class="content common_users">
	      <h2 style="margin-top: 0px; margin-bottom: 5px" align="center">Description</h2>
              <textarea id="form_Dedcription" style="border-radius: 4px; margin: 7px; width: 301px" name="meeting_description" cols="31" rows="6" placeholder="Introduce a Description ..."></textarea>
	    </div>
	  </li>
	  <input style="font-size: 14px; float: left; border-radius: 4px; margin: 10px 0px 0px 45px;" type="submit" value="Create" class="button green"></input>
	  <a href="{{ path('index') }}" style="float: right; text-decoration: none; margin: 10px 5%;" id="cancel" class="button">Cancel</a>
	</ul>
      </div>
    </form>
  </div>
</div>

<div id="dialog-modal-ado" class="dialog-modal-ado" data-ajax="true" data-url="{{ path('ado_test') }}" title="Adobe Connect Test" style="background: none; height: 223px !important;">
</div>

<div id="dialog-modal-achievement" class="dialog-modal" data-ajax="true" data-url="{{ path('index_historical') }}" title="All Recordings" style="overflow:auto">
</div>

<div id="dialog-modal-change-password" title="Change password" style="overflow:auto">
  <div class="np" style="padding: 30px 10px 20px 60px">
    <div style="font-size: 18px; padding: 0px 0px 20px 0px;">
      Enter your New Password below:
    </div>
    <form action="{{ path('change_password', { 'email': user.email }) }}" method="post" id="password">
      <table>
	<tbody>
          <tr>
            <td class="label">
              <label for="cmar_meetingbundle_passwordtype_password_first" class=" required">
		New Password:
              </label>
            </td>
            <td>
              <input style="width:99%" type="password" id="cmar_meetingbundle_passwordtype_password_first" name="cmar_meetingbundle_passwordtype_first" required="required" />
            </td>
          </tr>
          <tr>
            <td class="label">
              <label for="cmar_meetingbundle_passwordtype_password_second" class=" required">
		Re-enter Your New Password:
              </label>
            </td>
            <td>
              <input style="width:99%" type="password" id="cmar_meetingbundle_passwordtype_password_second" name="cmar_meetingbundle_passwordtype_second" required="required" />
            </td>
          </tr>
          <tr>
            <td>
              <div class="error_password" style="color: #b30000; font-weight: bolder; ">Passwords do not match!</div>
            </td>
            <td style="text-align: right;">
              <input style="margin: 10px;" class="button" type="submit" name="Cambiar" value="Change"/>
	      <a href="{{ path('index') }}" style="float: right; text-decoration: none; margin: 10px 5%;" id="cancel" class="button">Cancel</a>
	    </td>
	  </tr>
	</tbody>
      </table>
    </form>
  </div>
  
<script type="text/javascript">
/*<![CDATA[*/

var $error = $(".error_password");
$error.hide();

$("form#password").on("submit", function(event) {
  var inputs = $(this).find('input');
  var input_1 = inputs.first(),
      input_2 = inputs.eq(1);

  if (input_1.val() !== input_2.val()) {
    $error.show();
    event.preventDefault();
  }
});


/*]]>*/
</script>


</div>

<left style="margin-left: 2%">
  <button id="opener2" class="button"><i class="icon-achievement icon-black"></i> All Recordings</button>
  <button id="opener" class="button"><i class="icon-indef icon-black"></i> Adobe Connect Test</button>
  <a href="http://help.campusdomar.es/display/help/eMeeting+-+help" style="text-decoration: none" target="_blank"><button class="button"><i class="icon-help icon-black"></i> eMeeting Help</button></a>
  <button id="opener3" class="button"><i class="icon-change-password icon-black"></i> Change Password</button>
    <div class="btn-toolbar">
      <div class="btn-group">
	<button class="btn dropdown-toggle" data-toggle="dropdown">
	  <span id="dropdown-title">All eMeetings</span>
	  <span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
	  <li style="margin: 3px"><a href="#" onclick="filter_emeetings('All eMeetings'); return false;" style="text-decoration:none"><span style="background-color: #000;">&nbsp;&nbsp;&nbsp;&nbsp;</span> All eMeetings</a></li>
	  <li style="margin: 3px"><a onclick="filter_emeetings('Public'); return false;"  href="#" style="text-decoration:none"><span style="background-color: #10911E;">&nbsp;&nbsp;&nbsp;&nbsp;</span> Public</a></li>
	  <li style="margin: 3px"><a onclick="filter_emeetings('Private'); return false;"  href="#" style="text-decoration:none"><span style="background-color: #D41314;">&nbsp;&nbsp;&nbsp;&nbsp;</span> Private</a></li>
	  <li style="margin: 3px"><a onclick="filter_emeetings('Invited'); return false;"  href="#" style="text-decoration:none"><span style="background-color: #B9883C;">&nbsp;&nbsp;&nbsp;&nbsp;</span> Invited</a></li>
	  {% if is_granted('ROLE_ADMIN') %}
            <li style="margin: 3px"><a onclick="filter_emeetings('Magic'); return false;"  href="#" style="text-decoration:none"><span style="background-color: #FDEB97;">&nbsp;&nbsp;&nbsp;&nbsp;</span> Magic</a></li>
	  {% endif %}
	</ul>
      </div>
    </div>
  {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('admin') }}" style="text-decoration:none"><button class="button"><i class="icon-admin icon-black"></i> Admin</button></a>
  {% endif %}
</left>

<button style="float: right; margin-right: 2%" id="opener1" class="button"><i class="icon-plus icon-black"></i> eMeetings</button>

{% if meetings_now is not empty %}

{#<h4>{{ user.login }}'s Open eMeetings:</h4>#}
<ul id="sortable">
  {% for meeting in meetings_now %}
  <li class="ui-state-default" style="list-style-type: none;">
    {% if nicknames[meeting.id].minimized %}
      {% include('CmarMeetingBundle:User:meeting_minimized.html.twig') %}
    {% else %}
      {% include('CmarMeetingBundle:User:meeting.html.twig') %}
    {% endif %}
  </li>
  {% endfor %}
</ul>

{% else %}
{#<h4>{{ user.login }}'s Open eMeetings:</h4>#}
<img src="{{ asset('bundles/cmarmeeting/images/flecha.png') }}" class="arrow-up"></img>
<div class="np" style="border-radius: 10px; background-color: #6DAABC; margin: 50px 15px 30px 50px; padding: 10px;">
  <p style="margin: 48px 225px; font-size: 22px">To create an eMeeting press button</p>
  <div style="margin: 70px 10px 10px 170px;">
    <p style="margin: 48px 0px; font-size: 45px">No available eMeetings</p>
  </div>
</div>
{% endif %}
<script type="text/javascript">
$(function() {
    $( "#sortable" ).sortable({
        update: function(event, ui) {
            var info = $('.meetingrank').map(function(o,e){return $(e).data('id')});
            $.post("{{ path('update_rank') }}", "data=" + $.makeArray(info).join(",") );
        }
    });
});
</script>
{% endblock %}
