{% extends "CmarMeetingBundle::base.html.twig" %}
{% block title %}
eMeeting Admin
{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
  <a href="{{ path('index') }}" style="text-decoration:none"><button class="button" style="margin: 0px 0px 5px 0px"><i class="icon-admin icon-black"></i> Index</button></a>
{% endif %}
<h1 style="color: black">Meeting show</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ entity.title }}</td>
        </tr>
        <tr>
            <th>State</th>
            <td>
              {% if entity.state == 0  %} STATE NEW
              {% elseif entity.state == 1 %} STATE NOW
              {% elseif entity.state == 2 %} STATE FINISHED
              {% elseif entity.state == 3 %} STATE SCHEDULED
              {% elseif entity.state == 4 %} STATE CANCELLED
              {% elseif entity.state == 0 %} STATE LOCKED
              {% endif %}
	    </td>
        </tr>
        <tr>
            <th>Magic</th>
            <td>{% if entity.magic %} &times; {% endif %}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ entity.description }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Public</th>
            <td>{% if entity.public %} &times; {% endif %}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('meeting') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('meeting_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    {#<li>
        <form action="{{ path('meeting_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>#}
</ul>
{% endblock %}
